body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding: 100px 0px;
}

.shop-item {
  .container {
    max-width: 1250px;
    .row {
      ._left {
        max-width: 900px;
        .about-shop {
          -webkit-box-shadow: 0 0 15px rgb(230, 230, 230);
          box-shadow: 0 0 15px rgb(230, 230, 230);
          img {
            width: 100%;
            height: auto;
          }
          .more-details {
            padding: 0px 3% 0px 5%;
            display: inline-flex;

            width: 100%;
            img {
              width: 130px;
              margin-top: -95px;
              height: auto;
            }
            ul {
              list-style: none;
              margin-left: auto;
              margin-right: 0;
              padding: 30px 0px 10px 0px;
              li {
                display: inline;
                margin: 3px;
                a {
                  text-decoration: none;
                  padding: 8px 23px;
                  border-radius: 30px;
                  border: 1px solid black;
                  color: black;
                  transition: 0.2s;
                  &:hover {
                    transition: 0.2s;
                    color: white;
                    border: 1px solid #ff7700;
                    background: #ff7700;
                  }
                }
              }
            }
          }
        }
        /* Messages/Followers Mobile */
        .message-follows {
          display: none;
          margin-top: 20px;
          width: 100%;
          .message_,
          .about_,
          .offer_ {
            width: 50%;
            a {
              display: block;
              padding: 8px 7px;
              font-size: 15px;
              border: 1px solid black;
              text-decoration: none;
              color: black;
              border-radius: 30px;
              text-align: center;
            }
          }
          .message_ {
            padding-right: 4px;
            a {
              background: #ff7700;
              border-color: #ff7700;
              color: #fff;
            }
          }
          .about_ {
            padding: 0px 4px;
          }
          .offer_ {
            padding-left: 4px;
          }
        }
        /* Select Option Mobile */
        .select-option {
          display: none;
          -webkit-box-shadow: 0 0 15px rgb(230, 230, 230);
          box-shadow: 0 0 15px rgb(230, 230, 230);
          padding: 20px;
          margin-top: 20px;
          .head {
            margin-bottom: 10px;
            font-size: 15px;
          }
          .options {
            .select-one {
              .dropdown {
                width: 100%;
                display: inline-block;
                background-color: transparent;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
                position: relative;
                font-size: 14px;
                color: #2f2e41;
                height: 100%;
                text-align: left;
                outline: none;
                border: none;
                .select {
                  cursor: pointer;
                  display: block;
                  padding: 10px;
                  border-bottom: 1px solid #ff7700;
                  i {
                    font-size: 13px;
                    cursor: pointer;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    float: right;
                    line-height: 20px;
                  }
                }
                .dropdown-menu {
                  position: absolute;
                  width: 100%;
                  left: 0;
                  background: white;
                  margin-top: 0px;
                  border-radius: 0 1px 2px 2px;
                  overflow: hidden;
                  display: none;
                  max-height: -webkit-fit-content;
                  max-height: -moz-fit-content;
                  -webkit-box-shadow: 0 0 10px rgba(190, 190, 190, 0.411);
                  box-shadow: 0 0 10px rgba(190, 190, 190, 0.411);
                  max-height: fit-content;
                  overflow-y: auto;
                  padding: 0;
                  list-style: none;
                  z-index: 9;
                  border: none;
                  li {
                    font-size: 14px;
                    color: #2f2e41;
                    padding: 10px;
                    -webkit-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    border-bottom: 1px solid rgb(233, 231, 231);
                    &:hover {
                      background: #ff7700;
                      color: #fff;
                    }
                  }
                }
                &.active i {
                  -webkit-transform: rotate(-180deg);
                  transform: rotate(-180deg);
                }
              }
            }
          }
        }
        .shop-products {
          margin-top: 30px;
          padding: 30px;
          -webkit-box-shadow: 0 0 15px rgb(230, 230, 230);
          box-shadow: 0 0 15px rgb(230, 230, 230);
          position: relative;
          ._like {
            position: absolute;
            right: 20px;
            top: 20px;
            i {
              font-size: 40px;
              color: #ff7700;
            }
          }
          a {
            text-decoration: none;
            color: unset;
          }
          /* Shop Page - Product Listing */
          ._product {
            .img-wrapper {
              width: 100%;
              position: relative;
              border: 1px solid rgb(241, 241, 241);
              &::after {
                content: "";
                display: block;
                padding-bottom: 90%;
              }
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                transition: 0.5s;
              }
            }
            &:hover {
              .img-wrapper {
                img {
                  width: 90%;
                }
              }
            }
            .product-details {
              padding: 10px 0px 10px 0px;
              .title {
                font-weight: 600;
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 16px;
                margin: 5px 0px;
                transition: 0.3s;
              }
              .description {
                font-size: 12px;
                display: block;
                display: -webkit-box;
                width: 100%;
                height: 75px;
                overflow: hidden;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                margin: 0;
              }
              .price__read-more {
                display: flex;
                padding: 10px 0px 20px 0px;
                .price {
                  font-size: 14px;
                  font-weight: 700;
                  margin: 0;
                  &.original-price {
                    position: relative;
                    color: #555;
                    &::after {
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: 0;
                      right: 0;
                      border-top: 1px solid #ff7700;
                      transform: rotate(-20deg);
                    }
                  }
                  &.sale-price {
                    padding: 3px 10px;
                    background: #ff7700;
                    color: white;
                    border-radius: 15px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 10px;
                  }
                }
                .actual-price {
                  font-size: 12px;
                  font-weight: bold;
                }
                .read-more {
                  color: black;
                  text-decoration: none;
                  margin-left: auto;
                  margin-right: 0;
                  font-size: 14px;
                  transition: 0.3s;
                  i {
                    font-size: 12px;
                  }
                }
              }
            }
            &:hover {
              .product-details {
                .title {
                  color: #ff7700;
                  transition: 0.3s;
                }
                .read-more {
                  color: #ff7700;
                  transition: 0.3s;
                }
              }
            }
          }
          /* Item Page - Product View */
          ._productImages {
            img {
              width: 100%;
              height: auto;
            }
            .gallery {
              margin: 15px 0px 0px;
              .image {
                display: inline-block;
                height: fit-content;
                vertical-align: middle;
                float: none;
                img {
                  cursor: pointer;
                  height: 100%;
                }
              }
            }
          }
          ._productDetails {
            padding: 30px 20px 0px 20px;
            position: relative;
            width: 100%;
            height: 100%;
            position: relative;
            h5 {
              font-size: 16px;
            }
            p {
              font-size: 14px;
            }
            ul {
              list-style: none;
              margin: 15px 0px;
              li {
                font-size: 14px;

                &::before {
                  content: "\f192";
                  font-weight: bold;
                  font-family: "Font Awesome 5 Free";
                  color: #ff7700;
                  padding-right: 6px;
                }
              }
            }
            button {
              vertical-align: middle;
              opacity: 0.5;
              cursor: unset;
              background: #7d90a0;
              margin-left: 1em;
            }
            .price__buy {
              display: flex;
              align-items: center;
              padding: 12px 0px 20px 0px;
              .price {
                font-size: 18px;
                font-weight: 700;
                margin: 0;
                &.original-price {
                  position: relative;
                  color: #555;
                  &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    border-top: 1px solid #ff7700;
                    transform: rotate(-20deg);
                  }
                }
                &.sale-price {
                  padding: 3px 10px;
                  background: #ff7700;
                  color: white;
                  border-radius: 15px;
                  border-top-left-radius: 0px;
                  border-bottom-left-radius: 10px;
                }
              }
              .buy {
                color: black;
                text-decoration: none;
                margin-left: auto;
                margin-right: 0;
                font-size: 16px;
                transition: 0.3s;
                i {
                  color: #ff7700;
                  font-size: 20px;
                }
              }
            }
          }
        }
        .pagination {
          width: 100%;
          width: fit-content;
          margin: 0 auto;
          text-align: center;
          padding: 20px 0px;
          a {
            color: black;
            float: left;
            padding: 8px 16px;
            margin: 4px;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
            border: 1px solid #ddd;
            &:nth-of-type(2) {
              padding: 8px 18px;
            }
            &.active {
              background-color: #ff7700;
              border: 1px solid #ff7700;
              color: white;
            }
          }
        }
        .pagination a:hover:not(.active) {
          background-color: #ff7700;
          border: 1px solid #ff7700;
          color: white;
        }
        /* comments */
        .comments {
          .comment-form {
            -webkit-box-shadow: 0 0 15px rgb(230, 230, 230);
            box-shadow: 0 0 15px rgb(230, 230, 230);
            padding: 20px;
            margin-top: 30px;
            .intro {
              text-align: center;
              width: 100%;
              margin: 20px 0px 30px 0px;
              h5 {
                text-transform: uppercase;
                font-weight: 700;
                color: #ff7700;
              }
            }
            ._make-comment {
              form {
                text-align: center;
                textarea {
                  width: 100%;
                  outline: none;
                  border: 1px solid rgb(230, 230, 230);
                  padding: 10px;
                }
                button {
                  margin: 10px 0px;
                  border: none;
                  outline: none;
                  padding: 9px 30px;
                  width: 30%;
                  background: #ff7700;
                  color: #fff;
                  border-radius: 40px;
                }
              }
            }
          }
          .user-comments {
            -webkit-box-shadow: 0 0 15px rgb(230, 230, 230);
            box-shadow: 0 0 15px rgb(230, 230, 230);
            padding: 30px;
            margin-top: 30px;
            ul {
              list-style: none;
              padding: 0;
              li {
                margin-bottom: 15px;
              }
              ul {
                margin: 20px 0px;
                padding-left: 70px;
              }
            }
            ._comment {
              display: flex;
              .user-image {
                padding-right: 15px;
                img {
                  width: 50px;
                }
              }
              .user-comment {
                h6 {
                  font-weight: 600;
                  margin-bottom: 5px;
                  span {
                    font-weight: 300;
                    font-size: 13px;
                    font-style: italic;
                  }
                }
                p {
                  font-size: 13px;
                  margin-bottom: 6px;
                }
                .like-dislike {
                  font-size: 13px;
                  color: rgb(63, 63, 63);
                  span {
                    padding: 0px 10px;
                    color: rgb(145, 145, 145);
                  }
                  a {
                    i {
                      font-size: 15px;
                      transition: 0.3s;
                      color: rgb(27, 27, 27);
                      &:hover {
                        color: #ff7700;
                        transition: 0.3s;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      ._right {
        -ms-flex: 0 0 430px;
        flex: 0 0 350px;
        .contact-shop {
          -webkit-box-shadow: 0 0 15px rgb(230, 230, 230);
          box-shadow: 0 0 15px rgb(230, 230, 230);
          padding: 20px;
          text-align: center;
          img {
            width: 130px;
          }
          ._name {
            font-size: 13px;
            font-weight: 500;
            margin: 10px;
          }
          .message_contact {
            display: flex;
            padding: 10px 0px 0px;
            a {
              width: 100%;
              display: block;
              margin: 5px;
              text-decoration: none;
              color: black;
              padding: 8px 20px;
              border: 1px solid black;
              border-radius: 30px;
              &:first-of-type {
                transition: 0.2s;
                color: white;
                border: 1px solid #ff7700;
                background: #ff7700;
                &:hover {
                  transition: 0.2s;
                  color: black;
                  border: 1px solid black;
                  background: transparent;
                }
              }
              &:hover {
                transition: 0.2s;
                color: white;
                border: 1px solid #ff7700;
                background: #ff7700;
              }
            }
          }
        }
        .rate-this-korner {
          -webkit-box-shadow: 0 0 15px rgb(230, 230, 230);
          box-shadow: 0 0 15px rgb(230, 230, 230);
          padding: 20px;
          margin-top: 30px;
          text-align: center;
          .rating {
            margin: 20px 0px 10px 0px;
            span {
              i {
                font-size: 25px;
                color: #ff7700;
              }
              &:last-of-type {
                font-size: 13px;
                font-weight: 600;
              }
            }
          }
          .read-reviews {
            a {
              color: black;
              font-weight: 500;
              font-size: 13px;
              padding: 15px 0px;
            }
          }
          .rate-us {
            margin: 20px 0px 10px 0px;
            a {
              display: block;
              font-size: 16px;
              text-decoration: none;
              padding: 7px 20px;
              width: 80%;
              margin: 0 auto;
              border-radius: 30px;
              color: white;
              background: #ff7700;
            }
          }
        }
        .select-option {
          -webkit-box-shadow: 0 0 15px rgb(230, 230, 230);
          box-shadow: 0 0 15px rgb(230, 230, 230);
          padding: 20px;
          margin-top: 30px;
          .head {
            margin-bottom: 15px;
          }
          .options {
            .select-one {
              .dropdown {
                width: 100%;
                display: inline-block;
                background-color: transparent;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
                position: relative;
                font-size: 14px;
                color: #2f2e41;
                height: 100%;
                text-align: left;
                outline: none;
                border: none;
                .select {
                  cursor: pointer;
                  display: block;
                  padding: 10px;
                  border-bottom: 1px solid #ff7700;
                  i {
                    font-size: 13px;
                    cursor: pointer;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    float: right;
                    line-height: 20px;
                  }
                }
                .dropdown-menu {
                  position: absolute;
                  width: 100%;
                  left: 0;
                  background: white;
                  margin-top: 0px;
                  border-radius: 0 1px 2px 2px;
                  overflow: hidden;
                  display: none;
                  max-height: -webkit-fit-content;
                  max-height: -moz-fit-content;
                  -webkit-box-shadow: 0 0 10px rgba(190, 190, 190, 0.411);
                  box-shadow: 0 0 10px rgba(190, 190, 190, 0.411);
                  max-height: fit-content;
                  overflow-y: auto;
                  padding: 0;
                  list-style: none;
                  z-index: 9;
                  border: none;
                  li {
                    font-size: 14px;
                    color: #2f2e41;
                    padding: 10px;
                    -webkit-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    border-bottom: 1px solid rgb(233, 231, 231);
                    &:hover {
                      background: #ff7700;
                      color: #fff;
                    }
                  }
                }
                &.active i {
                  -webkit-transform: rotate(-180deg);
                  transform: rotate(-180deg);
                }
              }
            }
          }
        }
        .report-korner {
          -webkit-box-shadow: 0 0 15px rgb(230, 230, 230);
          box-shadow: 0 0 15px rgb(230, 230, 230);
          padding: 20px;
          text-align: center;
          margin-top: 30px;
          a {
            display: block;
            font-size: 16px;
            text-decoration: none;
            padding: 7px 20px;
            width: 80%;
            margin: 0 auto;
            border-radius: 30px;
            color: white;
            background: #ff7700;
          }
        }
      }
    }
  }
}

@media (max-width: 610px) {
  .demo-trigger {
    display: block;
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
  }
  ._productDetails {
    margin: 0;
    width: auto;
  }
}

/* the slides */
.slick-slide {
  margin: 0 7px;
}
/* the parent */
.slick-list {
  margin: 0 -7px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1.5rem 0 0;
  list-style-type: none;
  li {
    margin: 0 0.25rem;
  }
  button {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: rgb(235, 232, 232);
    text-indent: -9999px;
  }

  li.slick-active button {
    width: 1rem;
    height: 1rem;
    background-color: #ff7700;
  }
}

@media (max-width: 1250px) {
  .shop-item {
    .container {
      .row {
        ._left {
          max-width: 100%;
          .shop-products {
            margin-top: 30px;
            ._like {
              top: 0px;
              right: 10px;
            }
          }
        }
        ._right {
          margin-top: 30px;
          -ms-flex: none;
          flex: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .shop-item {
    .container {
      .row {
        ._left {
          .about-shop {
            .more-details {
              ul {
                padding: 25px 0px 4px 0px;
                li {
                  margin: 1px;
                  &:nth-of-type(3),
                  &:nth-of-type(2) {
                    display: none;
                  }
                  a {
                    font-size: 14px;
                    text-decoration: none;
                    padding: 8px 23px;
                    color: white;
                    border: 1px solid #ff7700;
                    background: #ff7700;
                  }
                  &:last-of-type {
                    a {
                      padding: 8px 18px;
                    }
                  }
                }
              }
            }
          }
          .message-follows {
            display: flex;
          }
          .select-option {
            display: block;
          }
          .shop-products {
            margin-top: 20px;
            padding: 20px;
            ._product {
              .img-wrapper {
                img {
                  width: 90%;
                }
              }
            }
          }
          .comments {
            .comment-form {
              margin-top: 20px;
              ._make-comment {
                form {
                  button {
                    padding: 9px 40px;
                    width: unset;
                  }
                }
              }
            }
            .user-comments {
              margin-top: 20px;
              ul {
                ul {
                  padding-left: 50px;
                }
              }
              ._comment {
                display: flex;
                .user-image {
                  padding-right: 10px;
                  img {
                    width: 40px;
                  }
                }
                .user-comment {
                  h6 {
                    font-size: 14px;
                    span {
                      font-size: 12px;
                    }
                  }
                  p {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
        ._right {
          margin-top: 20px;
          .rate-this-korner,
          .select-option,
          .report-korner {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .shop-item {
    .container {
      .row {
        ._left {
          .about-shop {
            .more-details {
              img {
                width: 75px;
                margin-top: -40px;
              }
            }
          }
          .pagination {
            width: 100%;
            width: fit-content;
            margin: 0 auto;
            text-align: center;
            padding: 20px 0px 40px 0px;
            a {
              &:nth-of-type(5),
              &:nth-of-type(6),
              &:nth-of-type(7) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
