body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding: 100px 0px;
}

.shop-item .container {
  max-width: 1250px;
}

.shop-item .container .row ._left {
  max-width: 900px;
  /* Messages/Followers Mobile */
  /* Select Option Mobile */
  /* comments */
}

.shop-item .container .row ._left .about-shop {
  -webkit-box-shadow: 0 0 15px #e6e6e6;
  box-shadow: 0 0 15px #e6e6e6;
}

.shop-item .container .row ._left .about-shop img {
  width: 100%;
  height: auto;
}

.shop-item .container .row ._left .about-shop .more-details {
  padding: 0px 3% 0px 5%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.shop-item .container .row ._left .about-shop .more-details img {
  width: 130px;
  margin-top: -95px;
  height: auto;
}

.shop-item .container .row ._left .about-shop .more-details ul {
  list-style: none;
  margin-left: auto;
  margin-right: 0;
  padding: 30px 0px 10px 0px;
}

.shop-item .container .row ._left .about-shop .more-details ul li {
  display: inline;
  margin: 3px;
}

.shop-item .container .row ._left .about-shop .more-details ul li a {
  text-decoration: none;
  padding: 8px 23px;
  border-radius: 30px;
  border: 1px solid black;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.shop-item .container .row ._left .about-shop .more-details ul li a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  border: 1px solid #ff7700;
  background: #ff7700;
}

.shop-item .container .row ._left .message-follows {
  display: none;
  margin-top: 20px;
  width: 100%;
}

.shop-item .container .row ._left .message-follows .message_,
.shop-item .container .row ._left .message-follows .about_,
.shop-item .container .row ._left .message-follows .offer_ {
  width: 50%;
}

.shop-item .container .row ._left .message-follows .message_ a,
.shop-item .container .row ._left .message-follows .about_ a,
.shop-item .container .row ._left .message-follows .offer_ a {
  display: block;
  padding: 8px 7px;
  font-size: 15px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  border-radius: 30px;
  text-align: center;
}

.shop-item .container .row ._left .message-follows .message_ {
  padding-right: 4px;
}

.shop-item .container .row ._left .message-follows .message_ a {
  background: #ff7700;
  border-color: #ff7700;
  color: #fff;
}

.shop-item .container .row ._left .message-follows .about_ {
  padding: 0px 4px;
}

.shop-item .container .row ._left .message-follows .offer_ {
  padding-left: 4px;
}

.shop-item .container .row ._left .select-option {
  display: none;
  -webkit-box-shadow: 0 0 15px #e6e6e6;
  box-shadow: 0 0 15px #e6e6e6;
  padding: 20px;
  margin-top: 20px;
}

.shop-item .container .row ._left .select-option .head {
  margin-bottom: 10px;
  font-size: 15px;
}

.shop-item .container .row ._left .select-option .options .select-one .dropdown {
  width: 100%;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #2f2e41;
  height: 100%;
  text-align: left;
  outline: none;
  border: none;
}

.shop-item .container .row ._left .select-option .options .select-one .dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ff7700;
}

.shop-item .container .row ._left .select-option .options .select-one .dropdown .select i {
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
}

.shop-item .container .row ._left .select-option .options .select-one .dropdown .dropdown-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background: white;
  margin-top: 0px;
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  -webkit-box-shadow: 0 0 10px rgba(190, 190, 190, 0.411);
  box-shadow: 0 0 10px rgba(190, 190, 190, 0.411);
  max-height: fit-content;
  overflow-y: auto;
  padding: 0;
  list-style: none;
  z-index: 9;
  border: none;
}

.shop-item .container .row ._left .select-option .options .select-one .dropdown .dropdown-menu li {
  font-size: 14px;
  color: #2f2e41;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-bottom: 1px solid #e9e7e7;
}

.shop-item .container .row ._left .select-option .options .select-one .dropdown .dropdown-menu li:hover {
  background: #ff7700;
  color: #fff;
}

.shop-item .container .row ._left .select-option .options .select-one .dropdown.active i {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.shop-item .container .row ._left .shop-products {
  margin-top: 30px;
  padding: 30px;
  -webkit-box-shadow: 0 0 15px #e6e6e6;
  box-shadow: 0 0 15px #e6e6e6;
  position: relative;
  /* Shop Page - Product Listing */
  /* Item Page - Product View */
}

.shop-item .container .row ._left .shop-products ._like {
  position: absolute;
  right: 20px;
  top: 20px;
}

.shop-item .container .row ._left .shop-products ._like i {
  font-size: 40px;
  color: #ff7700;
}

.shop-item .container .row ._left .shop-products a {
  text-decoration: none;
  color: unset;
}

.shop-item .container .row ._left .shop-products ._product .img-wrapper {
  width: 100%;
  position: relative;
  border: 1px solid #f1f1f1;
}

.shop-item .container .row ._left .shop-products ._product .img-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 90%;
}

.shop-item .container .row ._left .shop-products ._product .img-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop-item .container .row ._left .shop-products ._product:hover .img-wrapper img {
  width: 90%;
}

.shop-item .container .row ._left .shop-products ._product .product-details {
  padding: 10px 0px 10px 0px;
}

.shop-item .container .row ._left .shop-products ._product .product-details .title {
  font-weight: 600;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  margin: 5px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shop-item .container .row ._left .shop-products ._product .product-details .description {
  font-size: 12px;
  display: block;
  display: -webkit-box;
  width: 100%;
  height: 75px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin: 0;
}

.shop-item .container .row ._left .shop-products ._product .product-details .price__read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 20px 0px;
}

.shop-item .container .row ._left .shop-products ._product .product-details .price__read-more .price {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.shop-item .container .row ._left .shop-products ._product .product-details .price__read-more .price.original-price {
  position: relative;
  color: #555;
}

.shop-item .container .row ._left .shop-products ._product .product-details .price__read-more .price.original-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid #ff7700;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.shop-item .container .row ._left .shop-products ._product .product-details .price__read-more .price.sale-price {
  padding: 3px 10px;
  background: #ff7700;
  color: white;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
}

.shop-item .container .row ._left .shop-products ._product .product-details .price__read-more .actual-price {
  font-size: 12px;
  font-weight: bold;
}

.shop-item .container .row ._left .shop-products ._product .product-details .price__read-more .read-more {
  color: black;
  text-decoration: none;
  margin-left: auto;
  margin-right: 0;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shop-item .container .row ._left .shop-products ._product .product-details .price__read-more .read-more i {
  font-size: 12px;
}

.shop-item .container .row ._left .shop-products ._product:hover .product-details .title {
  color: #ff7700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shop-item .container .row ._left .shop-products ._product:hover .product-details .read-more {
  color: #ff7700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shop-item .container .row ._left .shop-products ._productImages img {
  width: 100%;
  height: auto;
}

.shop-item .container .row ._left .shop-products ._productImages .gallery {
  margin: 15px 0px 0px;
}

.shop-item .container .row ._left .shop-products ._productImages .gallery .image {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  vertical-align: middle;
  float: none;
}

.shop-item .container .row ._left .shop-products ._productImages .gallery .image img {
  cursor: pointer;
  height: 100%;
}

.shop-item .container .row ._left .shop-products ._productDetails {
  padding: 30px 20px 0px 20px;
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
}

.shop-item .container .row ._left .shop-products ._productDetails h5 {
  font-size: 16px;
}

.shop-item .container .row ._left .shop-products ._productDetails p {
  font-size: 14px;
}

.shop-item .container .row ._left .shop-products ._productDetails ul {
  list-style: none;
  margin: 15px 0px;
}

.shop-item .container .row ._left .shop-products ._productDetails ul li {
  font-size: 14px;
}

.shop-item .container .row ._left .shop-products ._productDetails ul li::before {
  content: "\f192";
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  color: #ff7700;
  padding-right: 6px;
}

.shop-item .container .row ._left .shop-products ._productDetails button {
  vertical-align: middle;
  opacity: 0.5;
  cursor: unset;
  background: #7d90a0;
  margin-left: 1em;
}

.shop-item .container .row ._left .shop-products ._productDetails .price__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0px 20px 0px;
}

.shop-item .container .row ._left .shop-products ._productDetails .price__buy .price {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.shop-item .container .row ._left .shop-products ._productDetails .price__buy .price.original-price {
  position: relative;
  color: #555;
}

.shop-item .container .row ._left .shop-products ._productDetails .price__buy .price.original-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid #ff7700;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.shop-item .container .row ._left .shop-products ._productDetails .price__buy .price.sale-price {
  padding: 3px 10px;
  background: #ff7700;
  color: white;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
}

.shop-item .container .row ._left .shop-products ._productDetails .price__buy .buy {
  color: black;
  text-decoration: none;
  margin-left: auto;
  margin-right: 0;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shop-item .container .row ._left .shop-products ._productDetails .price__buy .buy i {
  color: #ff7700;
  font-size: 20px;
}

.shop-item .container .row ._left .pagination {
  width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
}

.shop-item .container .row ._left .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.shop-item .container .row ._left .pagination a:nth-of-type(2) {
  padding: 8px 18px;
}

.shop-item .container .row ._left .pagination a.active {
  background-color: #ff7700;
  border: 1px solid #ff7700;
  color: white;
}

.shop-item .container .row ._left .pagination a:hover:not(.active) {
  background-color: #ff7700;
  border: 1px solid #ff7700;
  color: white;
}

.shop-item .container .row ._left .comments .comment-form {
  -webkit-box-shadow: 0 0 15px #e6e6e6;
  box-shadow: 0 0 15px #e6e6e6;
  padding: 20px;
  margin-top: 30px;
}

.shop-item .container .row ._left .comments .comment-form .intro {
  text-align: center;
  width: 100%;
  margin: 20px 0px 30px 0px;
}

.shop-item .container .row ._left .comments .comment-form .intro h5 {
  text-transform: uppercase;
  font-weight: 700;
  color: #ff7700;
}

.shop-item .container .row ._left .comments .comment-form ._make-comment form {
  text-align: center;
}

.shop-item .container .row ._left .comments .comment-form ._make-comment form textarea {
  width: 100%;
  outline: none;
  border: 1px solid #e6e6e6;
  padding: 10px;
}

.shop-item .container .row ._left .comments .comment-form ._make-comment form button {
  margin: 10px 0px;
  border: none;
  outline: none;
  padding: 9px 30px;
  width: 30%;
  background: #ff7700;
  color: #fff;
  border-radius: 40px;
}

.shop-item .container .row ._left .comments .user-comments {
  -webkit-box-shadow: 0 0 15px #e6e6e6;
  box-shadow: 0 0 15px #e6e6e6;
  padding: 30px;
  margin-top: 30px;
}

.shop-item .container .row ._left .comments .user-comments ul {
  list-style: none;
  padding: 0;
}

.shop-item .container .row ._left .comments .user-comments ul li {
  margin-bottom: 15px;
}

.shop-item .container .row ._left .comments .user-comments ul ul {
  margin: 20px 0px;
  padding-left: 70px;
}

.shop-item .container .row ._left .comments .user-comments ._comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-item .container .row ._left .comments .user-comments ._comment .user-image {
  padding-right: 15px;
}

.shop-item .container .row ._left .comments .user-comments ._comment .user-image img {
  width: 50px;
}

.shop-item .container .row ._left .comments .user-comments ._comment .user-comment h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.shop-item .container .row ._left .comments .user-comments ._comment .user-comment h6 span {
  font-weight: 300;
  font-size: 13px;
  font-style: italic;
}

.shop-item .container .row ._left .comments .user-comments ._comment .user-comment p {
  font-size: 13px;
  margin-bottom: 6px;
}

.shop-item .container .row ._left .comments .user-comments ._comment .user-comment .like-dislike {
  font-size: 13px;
  color: #3f3f3f;
}

.shop-item .container .row ._left .comments .user-comments ._comment .user-comment .like-dislike span {
  padding: 0px 10px;
  color: #919191;
}

.shop-item .container .row ._left .comments .user-comments ._comment .user-comment .like-dislike a i {
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #1b1b1b;
}

.shop-item .container .row ._left .comments .user-comments ._comment .user-comment .like-dislike a i:hover {
  color: #ff7700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shop-item .container .row ._right {
  -ms-flex: 0 0 430px;
  -webkit-box-flex: 0;
          flex: 0 0 350px;
}

.shop-item .container .row ._right .contact-shop {
  -webkit-box-shadow: 0 0 15px #e6e6e6;
  box-shadow: 0 0 15px #e6e6e6;
  padding: 20px;
  text-align: center;
}

.shop-item .container .row ._right .contact-shop img {
  width: 130px;
}

.shop-item .container .row ._right .contact-shop ._name {
  font-size: 13px;
  font-weight: 500;
  margin: 10px;
}

.shop-item .container .row ._right .contact-shop .message_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 0px;
}

.shop-item .container .row ._right .contact-shop .message_contact a {
  width: 100%;
  display: block;
  margin: 5px;
  text-decoration: none;
  color: black;
  padding: 8px 20px;
  border: 1px solid black;
  border-radius: 30px;
}

.shop-item .container .row ._right .contact-shop .message_contact a:first-of-type {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  border: 1px solid #ff7700;
  background: #ff7700;
}

.shop-item .container .row ._right .contact-shop .message_contact a:first-of-type:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: black;
  border: 1px solid black;
  background: transparent;
}

.shop-item .container .row ._right .contact-shop .message_contact a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  border: 1px solid #ff7700;
  background: #ff7700;
}

.shop-item .container .row ._right .rate-this-korner {
  -webkit-box-shadow: 0 0 15px #e6e6e6;
  box-shadow: 0 0 15px #e6e6e6;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
}

.shop-item .container .row ._right .rate-this-korner .rating {
  margin: 20px 0px 10px 0px;
}

.shop-item .container .row ._right .rate-this-korner .rating span i {
  font-size: 25px;
  color: #ff7700;
}

.shop-item .container .row ._right .rate-this-korner .rating span:last-of-type {
  font-size: 13px;
  font-weight: 600;
}

.shop-item .container .row ._right .rate-this-korner .read-reviews a {
  color: black;
  font-weight: 500;
  font-size: 13px;
  padding: 15px 0px;
}

.shop-item .container .row ._right .rate-this-korner .rate-us {
  margin: 20px 0px 10px 0px;
}

.shop-item .container .row ._right .rate-this-korner .rate-us a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  padding: 7px 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  color: white;
  background: #ff7700;
}

.shop-item .container .row ._right .select-option {
  -webkit-box-shadow: 0 0 15px #e6e6e6;
  box-shadow: 0 0 15px #e6e6e6;
  padding: 20px;
  margin-top: 30px;
}

.shop-item .container .row ._right .select-option .head {
  margin-bottom: 15px;
}

.shop-item .container .row ._right .select-option .options .select-one .dropdown {
  width: 100%;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #2f2e41;
  height: 100%;
  text-align: left;
  outline: none;
  border: none;
}

.shop-item .container .row ._right .select-option .options .select-one .dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ff7700;
}

.shop-item .container .row ._right .select-option .options .select-one .dropdown .select i {
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
}

.shop-item .container .row ._right .select-option .options .select-one .dropdown .dropdown-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background: white;
  margin-top: 0px;
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  -webkit-box-shadow: 0 0 10px rgba(190, 190, 190, 0.411);
  box-shadow: 0 0 10px rgba(190, 190, 190, 0.411);
  max-height: fit-content;
  overflow-y: auto;
  padding: 0;
  list-style: none;
  z-index: 9;
  border: none;
}

.shop-item .container .row ._right .select-option .options .select-one .dropdown .dropdown-menu li {
  font-size: 14px;
  color: #2f2e41;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-bottom: 1px solid #e9e7e7;
}

.shop-item .container .row ._right .select-option .options .select-one .dropdown .dropdown-menu li:hover {
  background: #ff7700;
  color: #fff;
}

.shop-item .container .row ._right .select-option .options .select-one .dropdown.active i {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.shop-item .container .row ._right .report-korner {
  -webkit-box-shadow: 0 0 15px #e6e6e6;
  box-shadow: 0 0 15px #e6e6e6;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}

.shop-item .container .row ._right .report-korner a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  padding: 7px 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  color: white;
  background: #ff7700;
}

@media (max-width: 610px) {
  .demo-trigger {
    display: block;
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
  }
  ._productDetails {
    margin: 0;
    width: auto;
  }
}

/* the slides */
.slick-slide {
  margin: 0 7px;
}

/* the parent */
.slick-list {
  margin: 0 -7px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 1.5rem 0 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #ebe8e8;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  width: 1rem;
  height: 1rem;
  background-color: #ff7700;
}

@media (max-width: 1250px) {
  .shop-item .container .row ._left {
    max-width: 100%;
  }
  .shop-item .container .row ._left .shop-products {
    margin-top: 30px;
  }
  .shop-item .container .row ._left .shop-products ._like {
    top: 0px;
    right: 10px;
  }
  .shop-item .container .row ._right {
    margin-top: 30px;
    -ms-flex: none;
    -webkit-box-flex: 0;
            flex: none;
  }
}

@media (max-width: 768px) {
  .shop-item .container .row ._left .about-shop .more-details ul {
    padding: 25px 0px 4px 0px;
  }
  .shop-item .container .row ._left .about-shop .more-details ul li {
    margin: 1px;
  }
  .shop-item .container .row ._left .about-shop .more-details ul li:nth-of-type(3), .shop-item .container .row ._left .about-shop .more-details ul li:nth-of-type(2) {
    display: none;
  }
  .shop-item .container .row ._left .about-shop .more-details ul li a {
    font-size: 14px;
    text-decoration: none;
    padding: 8px 23px;
    color: white;
    border: 1px solid #ff7700;
    background: #ff7700;
  }
  .shop-item .container .row ._left .about-shop .more-details ul li:last-of-type a {
    padding: 8px 18px;
  }
  .shop-item .container .row ._left .message-follows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shop-item .container .row ._left .select-option {
    display: block;
  }
  .shop-item .container .row ._left .shop-products {
    margin-top: 20px;
    padding: 20px;
  }
  .shop-item .container .row ._left .shop-products ._product .img-wrapper img {
    width: 90%;
  }
  .shop-item .container .row ._left .comments .comment-form {
    margin-top: 20px;
  }
  .shop-item .container .row ._left .comments .comment-form ._make-comment form button {
    padding: 9px 40px;
    width: unset;
  }
  .shop-item .container .row ._left .comments .user-comments {
    margin-top: 20px;
  }
  .shop-item .container .row ._left .comments .user-comments ul ul {
    padding-left: 50px;
  }
  .shop-item .container .row ._left .comments .user-comments ._comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shop-item .container .row ._left .comments .user-comments ._comment .user-image {
    padding-right: 10px;
  }
  .shop-item .container .row ._left .comments .user-comments ._comment .user-image img {
    width: 40px;
  }
  .shop-item .container .row ._left .comments .user-comments ._comment .user-comment h6 {
    font-size: 14px;
  }
  .shop-item .container .row ._left .comments .user-comments ._comment .user-comment h6 span {
    font-size: 12px;
  }
  .shop-item .container .row ._left .comments .user-comments ._comment .user-comment p {
    font-size: 12px;
  }
  .shop-item .container .row ._right {
    margin-top: 20px;
  }
  .shop-item .container .row ._right .rate-this-korner,
  .shop-item .container .row ._right .select-option,
  .shop-item .container .row ._right .report-korner {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .shop-item .container .row ._left .about-shop .more-details img {
    width: 75px;
    margin-top: -40px;
  }
  .shop-item .container .row ._left .pagination {
    width: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px 40px 0px;
  }
  .shop-item .container .row ._left .pagination a:nth-of-type(5), .shop-item .container .row ._left .pagination a:nth-of-type(6), .shop-item .container .row ._left .pagination a:nth-of-type(7) {
    display: none;
  }
}
/*# sourceMappingURL=app.css.map */